#container img{
    width: 300px;
    padding-top: 15px;
}
.meal{
    width: 350px;
    border: 1px solid black;
    border-radius: 20px;
}
#container{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    margin-left:10%;
    text-align: center;
    grid-gap:40px;
    padding: 10px;
    
}
.common-container{
    cursor: pointer;
}
.details-formate{
    margin-left: 35%;
    padding-bottom: 3%;
}
.details-formate img{
    width:500px;
    height: 350px;
    border-radius: 20px;
}
.details-formate p{
    width: 500px;
    text-align: justify;
}